In [11]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense

In [12]:
conc_data = pd.read_csv("https://cocl.us/concrete_data")
conc_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [13]:
#Defines y array as strength column and x array as the rest
y = conc_data['Strength']
cd_cols = conc_data.columns

x = conc_data[cd_cols[cd_cols != 'Strength']]
x.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [15]:
def regression_model():
    model = Sequential()
    
    model.add(Dense(10, activation='relu', input_shape=(x.shape[1],)))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [16]:
model = regression_model()

mse_list = np.zeros(50)
for i in range(0, len(mse_list)):
    X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)
    model.fit(X_train, y_train, validation_split=0.3, epochs=50, verbose=0)
    y_pred = model.predict(X_test)
    mse_list[i] = mean_squared_error(y_test, y_pred)

In [26]:
print("Mean Squared Errors list: " + str(mse_list))
print("Average of Mean Squared Errors: " + str(mse_list.mean()))
print("Standard Deviation of Mean Squared Errors: " + str(mse_list.std()))

Mean Squared Errors list: [202.21195576 120.42177435 115.33222424 111.84692353 103.14328339
  94.17980605  73.58665507  62.84911621  61.60996867  54.22930281
  49.4352328   47.76283568  48.34193376  47.48088111  45.73792416
  45.39762219  52.88963526  47.70921803  47.44703406  47.82222896
  50.03164485  51.70054074  51.66270902  52.035821    53.36146178
  49.38488509  51.53791663  51.09881598  49.02860703  49.36238293
  52.22308287  52.05867537  58.30447464  67.85528518  51.90093898
  51.8466005   50.2445159   54.64807548  49.12969237  51.2048049
  48.54378196  48.51116886  55.81139639  55.05004936  48.22261516
  53.32762206  48.99086806  49.57588663  50.63075803  53.10417024]
Average of Mean Squared Errors: 60.7964960811313
Standard Deviation of Mean Squared Errors: 27.079497465863565