In [11]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense

In [12]:
conc_data = pd.read_csv("https://cocl.us/concrete_data")
conc_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [13]:
#Defines y array as strength column and x array as the rest of the columns
y = conc_data['Strength']
cd_cols = conc_data.columns

x = conc_data[cd_cols[cd_cols != 'Strength']]
x.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [27]:
#Normalizing the data
x_norm = (x - x.mean()) / x.std()
x_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [28]:
#Creating the regression model
def regression_model():
    model = Sequential()
    
    model.add(Dense(10, activation='relu', input_shape=(x_norm.shape[1],)))
    model.add(Dense(1))
    
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [29]:
#For loop used to evaluate model 50 different times
model = regression_model()

mse_list = np.zeros(50)
for i in range(0, len(mse_list)):
    X_train, X_test, y_train, y_test = train_test_split(x_norm, y, test_size=0.3, random_state=42)
    model.fit(X_train, y_train, validation_split=0.3, epochs=50, verbose=0)
    y_pred = model.predict(X_test)
    mse_list[i] = mean_squared_error(y_test, y_pred)

In [30]:
print("Mean Squared Errors list: " + str(mse_list))
print("Average of Mean Squared Errors: " + str(mse_list.mean()))
print("Standard Deviation of Mean Squared Errors: " + str(mse_list.std()))

Mean Squared Errors list: [482.02270936 175.36123979 146.77339439 130.69863377 111.92407785
  96.37425987  84.05124926  73.76930827  66.95792692  61.72368289
  57.51357356  54.23315525  52.0840601   50.60943098  49.45506974
  48.94866599  48.10054412  48.15001985  47.64041881  47.4009196
  46.87385549  46.49263465  46.20892022  46.11709218  45.44598543
  45.38038405  45.19013824  44.99900454  44.90715764  44.8959955
  44.79897424  44.65641038  44.60270688  44.55194929  44.77957057
  44.7532197   44.66018082  44.73990707  44.73390441  44.4664092
  44.5536915   44.28274436  44.29496399  44.1818351   44.06623555
  44.15721024  43.71569511  43.88536626  43.71433823  43.84623176]
Average of Mean Squared Errors: 65.55490105920101
Standard Deviation of Mean Squared Errors: 65.60533341677217